:root {
	--color-black: #0b1739;
	--color-grey: #9a9a9a;
	--color-white: #ffffff;

	--color-blue: #29313c;
	--color-green: #3eb57c;
	--color-green2: #95d0a1;

	// Global text colors
	--text-color-primary: var(--color-black);
	--text-color-secondary: #6b7280;
	--text-color-grey: var(--color-grey);
	--text-color-disabled: #d1d5db;

	--border-color: #0000001a;
}
