:root {
	--cl-primary: 11, 23, 57;
	--cl-secondary: 255, 0, 0;

	--color-primary: rgba(var(--cl-primary), 1);
	--color-secondary: rgba(var(--cl-secondary), 1);

	--color-primary-05: rgba(var(--cl-primary), 0.5);

	--border-color: rgba(0, 0, 0, 0.1);
}
